@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #2E2E2E;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #6E7177;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.9rem;
}

p {
  font-size: 1.7rem;
}

ul,
dl,
ol {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 1.7rem;
}

#app {
  width: 100%;
  min-height: 100vh;
}

#header {
  display: block;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 194, 238);
  color: #fff;
}

#header h1 {
  color: #fff;
}

#main-content {
  padding: 4rem 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.page-section {
  width: calc(50% - 2rem);
  height: 80vh;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}

.page-section__nav {
  display: block;
  height: 5rem;
  background-color: rgb(58, 194, 238);
  color: #fff;
  border-radius: 3px 3px 0 0;
}

.nav-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.nav-list__item {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #main-content {
    width: 100%;
    padding: 4rem 2rem;
  }

  .page-section {
    width: 100%;
  }
}
